.card {
    flex-direction: column;
    border-radius: 10px;
    width: 90%;
    transition: transform 0.3s ease;
    border: none;
}

.card:hover{
    box-shadow: 1px 3px 9px 0px #9E9E9E;
    transform: translateY(-2px);
}

.image-card img {
    width: 100%;
    display: block;
    border-radius: 10px 0 0 0;
}

.disc-card {
    padding: 30px 15px ;
    text-align: left;
    height: 20%;
    line-height: 1;
}

.disc-card p:nth-child(1) {
    font-size: 20px;
}

.disc-card p:nth-child(2) {
    font-size: 20px;
    color: var(--main-color);
    font-weight: bold;
}