.gradient {
    background: linear-gradient(to right, hsl(14 100% 80%), hsl(16 100% 66%), #e11d4b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

:root {
    --color-text: hsl(0 0% 45.1%);
    --main-color: #e11d4b;
}

a{
    text-decoration: none;
    color: inherit;
} 