.product {
    transition: transform 0.3s ease;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    background-color: white;

}

.product:hover {
    box-shadow: 1px 3px 9px 8px #808080;
    transform: translateY(-2px);
}


.about-product {
    padding: 5px 10px;
    margin-bottom: 10px;
    text-align: left;
    height: 20%;
    line-height: 1;
}

.about-product .title {
    height: 5vh;
}

.image-product img {
    width: 100%;
    display: block;
    border-radius: 10px 0 0 0;
    padding: 20px 0;
}

.about-product p:nth-child(1) {
    font-size: 20px;
}

.about-product p:nth-child(2) {
    font-size: 20px;
    color: var(--main-color);
    font-weight: bold;
}

/* --------------------- Resoponsive --------------------- */


@media (max-width: 576px) {
    .product {
        transition: transform 0.3s ease;
        flex-direction: column;
        border-radius: 10px;
        text-align: center;
        background-color: white;

    }

    .product:hover {
        box-shadow: 1px 3px 9px 8px #808080;
        transform: translateY(-2px);
    }


    .about-product {
        padding: 1px 10px;
        margin-bottom: 10px;
        text-align: left;
        height: 20%;
        line-height: 1;
    }

    .about-product .title {
        height: 5vh;
    }

    .image-product img {
        width: 100%;
        display: block;
        border-radius: 10px 0 0 0;
        padding: 20px 0;
    }

    .about-product p:nth-child(1) {
        font-size: 14px;
    }

    .about-product p:nth-child(2) {
        font-size: 16px;
    }

    .btn-buy {
        width: 90%;
        padding: 3px;
        border-radius: 8px;
        font-size: 12px
    }
}